@{
    ViewData["Title"] = "Подтверждение Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Благодарим за подтверждение вашего email. Будьте добры, <a asp-controller="Account" asp-action="Login">щелкните здесь, чтобы войти</a>.
    </p>
</div>
