@{
    ViewData["Title"] = "Блокировка";
}

<header>
    <h1 class="text-danger">Блокировка.</h1>
    <p class="text-danger">Эта учетная запись заблокирована, попытайтесь, пожалуйста, позже.</p>
</header>
