@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"].</h1>
<p>
    Ваш пароль сброшен. Для входа щелкните <a asp-controller="Account" asp-action="Login">, пожалуйста.</a>.
</p>
