@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>
    <p align="center">
        <img src="~/images/History1.jpg" hspace="20" vspace="7" width="600" height="250" alt="Computer Diagnostics" align="center">
    </p>
    <p>
        Организация ООО «Автоцентр на Барыкина» была основана <b>в 2006 году</b> с целью технического обслуживания  и ремонта автомобилей в Гомеле.
    </p>
    <p>
        На сегодняшний день «Автоцентр на Барыкина» является сертифицированной станцией (сертификат соответствия №BY/112 04.12. 006 04521 от 06.01.12), в которой работает <b>команда профессионалов</b>, с многолетним  опытом работы в сфере технического обслуживания и ремонта автомобилей.
        <img src="~/images/History2.jpg" hspace="20" vspace="7" width="370" height="250" alt="Computer Diagnostics" align="left">
    </p>
    <p>
    Квалифицированный персонал и современное оборудование, внимание к клиенту и доступные цены — вот основные принципы нашей деятельности.
    </p>

    <br>
    <p>Предприятие автосервиса оснащено современным оборудованием, которое необходимо для специализированного сервисного обслуживания и ремонта автомобилей.
    </p>
    <p>Автоцентр на Барыкина обеспечивает полноценную сервисную поддержку <b>Вашего автомобиля.</b></p>

    <p><b>Перечень основных услуг</b> нашего автосервиса  включает:</p>
    
    <style>
        li {
            list-style-image: url('~/images/check.jpg');
        }
    </style>

    <ul class="ServiceList">
        <li><a asp-area="" asp-controller="Service" asp-action="RazvalShozdenie">Компьютерный развал-схождение</a> на эксклюзивном  оборудовании BEISSBARTH (Германия).</li>
        <li><a asp-area="" asp-controller="Service" asp-action="Diagnostics">Компьютерная диагностика всех электронных систем</a>, узлов  автомобильного транспортного средства на сертифицированном оборудовании  GUTMANN MESSTECHNIK (Германия).</li>
        <img src="~/images/History3.jpg" hspace="20" vspace="7" width="200" height="300" alt="Computer Diagnostics" align="right">
        <li><a asp-area="" asp-controller="Service" asp-action="AutoElectricity">Услуги автоэлектрика</a>.</li>
        <li><a asp-area="" asp-controller="Service" asp-action="Diagnostics">Диагностика</a> и <a asp-area="" asp-controller="Service" asp-action="Repair">ремонт</a> подвески.</li>
        <li>Диагностика и ремонт тормозной системы с использованием сертифицированного оборудования.</li>
        <li>Диагностика и ремонт двигателя и вспомогательных агрегатов.</li>
        <li>Полный ремонт двигателя внутреннего сгорания (ДВС).</li>
        <li>Замена КПП, АКПП.</li>
        <li>Ремонт систем охлаждения.</li>
        <li>Замена узла сцепления.</li>
        <li>Замена ремней (приводных и ГРМ) и технологических жидкостей.</li>
        <li><a asp-area="" asp-controller="Service" asp-action="TechService">Масляный сервис</a>.</li>
        <li><a asp-area="" asp-controller="Service" asp-action="Repair">Заправка, ремонт кондиционеров</a> и систем климата.</li>
    </ul>
    <br />
    <p>
        Осуществляет подбор для последующего ремонта и продажа запасных частей и аксессуаров.
    </p>

    <br />
    <p>
        <b>Факты и преимущества:</b>
    </p>

    <style>
        li {
            list-style-image: url('~/images/check.jpg');
        }
    </style>

    <ul class="ServiceList">
        <li>Соблюдаем технологию ремонтных работ и нормативы производителя.</li>
        <li>Работаем с физическими и юридическими лицами.</li>
        <li>Для удобства клиента работаем по предварительной записи.</li>
        <li>Автоцентр одновременно может обслуживать более 5 автомобилей.</li>
        <li>Около 80% клиентов являются постоянными.</li>
        <li>Вам не придется выбирать между приемлемыми ценами и качественным обслуживанием.</li>
        <li>Возможность провести время, необходимое для диагностики и ремонта Вашего автомобиля за чашечкой кофе и просмотром TV.</li>
        <li>Оснащенность клиентской зоны бесплатным доступом WI-FI.</li>
        <li>Для нас важен наш Клиент и наш Сотрудник.</li>
    </ul>
    <p><b>Мы будем рады видеть Вас в числе наших постоянных клиентов!</b></p>

</opisanie>
