@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>
    <h3 align="center" style="color: blue;">@ViewData["Diag1"]</h3>
    <p>
        В современном автомобиле имеется большое количество электроприборов, все приборы между собой связывает электропроводка. У нее, как и у многих деталей и узлов автомобиля есть свой ресурс и не редко она может выходить из строя. Обычно, когда водитель замечает поломку какого-либо прибора, ошибочно думает, что сломался именно он. По факту частой причиной поломок является именно проводка автомобиля, она попросту может перетереться, окислиться, сломаться на изгибе и т. д.
    </p>

    <p><b>Признаками поломок электропроводки могут быть:</b></p>
    <img src="~/images/AutoElectricity.jpg" hspace="20" vspace="7" width="300" height="150" alt="AutoElectricity" align="right">
    <p>- проблемы с зажиганием;</p>
    <p>- не работают или работают с перебоем приборы (бортовой компьютер, осветительные приборы, ABS, разрядка АКБ и т. д.);</p>
    <p>- запах горелой проводки.</p>
    <p>В таком случае немедленно нужно сделать диагностику электропроводки, последствия от неисправности могут быть печальны, вплоть до сгорания автомобиля при замыкании проводки.</p>
    <p><b>Диагностика электропроводки состоит их трех основных этапов:</b></p>

    <style>
        li {
            list-style-image: url('~/images/check.jpg');
        }
    </style>
    <ul class="DiagList">
        <li>Поиск неисправности</li>
        <li>Замена/ремонт поврежденного участка проводки</li>
        <li>Проверка работоспособности цепи</li>
    </ul>
    <br>
    <p>В <b>нашем автосервисе</b> Вы сможете получить услуги квалифицированного автоэлектрика с большим опытом работы с автомобилями иностранного и отечественного производства.
    <br>
    <p>Автоэлектрики автосервиса ООО «Автоцентр на Барыкина» выполняют следующие виды работ:</p>

        <style>
            li {
                list-style-image: url('~/images/check.jpg');
            }
        </style>
        <ul class="WorkList">
            <li>Диагностика и ремонт электрооборудования любой сложности.</li>
            <li>Ремонт системы зарядки, системы пуска и зажигания автомобиля.</li>
            <li>Установка/демонтаж ксенона.</li>
            <li>Монтаж акустических систем.</li>
            <li>Ремонт осветительной автоэлектрики, различных элементов освещения.</li>
            <li>Ремонт или замена проводки.</li>
            <li>Установка дополнительного электронного оборудования и многое другое.</li>
        </ul>
        <br>


</opisanie>
