@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>
  
    <img src="~/images/condi1.jpg" hspace="20" vspace="7" width="250" height="150" alt="Condi1" align="right">
    <p>Система кондиционирования предназначена для создания и поддержания комфортного микроклимата внутри салона автомобиля - регулирования температуры воздуха, влажности. Кроме того – оптимизация потоков воздуха, а также фильтрация от вредных примесей и устранение запахов.</p>
    <br/>
    <p>Любой кондиционер необходимо своевременно заправлять. <b>Заправка кондиционеров фреоном</b> - это неотъемлемая часть работ по уходу за вашим кондиционером. Вовремя выполненная заправка кондиционера предотвратит поломку прибора.</p>
    <p>Нужно ли заправлять кондиционер Вы сможете определить самостоятельно, без специальных приборов и оборудования. Снижение интенсивности охлаждения и появление инея или льда на штуцерных соединениях внешнего блока кондиционера являются явными признаками недостатка фреона.</p>
    <p>При обнаружении подобных проявлений или каких-либо других неисправностей кондиционера, а также при любой нештатной работе отдельных узлов и агрегатов кондиционера, немедленно отключайте кондиционер и <b>звоните нам.</b></p>
    <img src="~/images/condi2.jpg" hspace="20" vspace="7" width="220" height="150" alt="Condi2" align="left">

    <p>Перед заправкой производится проверка герметичности системы. Рекомендуемый <b>период проведения диагностики</b> системы кондиционирования — <b>каждые 20 000 км</b> пробега или каждые <b>12-18 месяцев</b>.</p>
    <p>Обычно сам процесс заправки кондиционера проходит на месте установки и не превышает 40-50 минут.</p>
    <p>А вот время, затраченное на поиск и устранение течи, предсказать невозможно.</p>
    <p>Часто бывает, что фреон уходит в течение нескольких месяцев, да и то при определенных давлениях. Или, например, потенциальные места утечек находятся в непосредственной близости друг от друга.  Течеискатель чувствует присутствие фреона, но определить место утечки точно не представляется возможным.</p>
    <p>Для подобных случаев очень удобна <b>диагностика с помощью ультрафиолетового красителя</b>. Суть ее в следующем. Система полностью заправляется, вместе с фреоном и маслом в нее заливается специальный краситель, способный светиться в лучах ультрафиолета.</p>
    <img src="~/images/condi3.jpg" hspace="20" vspace="7" width="80" height="150" alt="Condi1" align="right">
    <p>
        Заправку кондиционера должны производить только <b>квалифицированные специалисты</b>, имеющие для этого все необходимое оборудование. Для выявления и устранения неисправностей системы кондиционирования специалисты  <b>ООО «Автоцентр на Барыкина»</b> используют специальное современное оборудование для диагностики и ремонта системы кондиционирования, что позволяет устранить неисправность качественно и оперативно.
    </p>
</opisanie>
