@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}


<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>
    <h3 align="center" style ="color: blue;">@ViewData["Diag1"]</h3>
    <p>
        Подвеска автомобиля является тем особо важным звеном, что обеспечивает активную безопасность водителя и пассажиров во время движения. Именно эта сложная система обеспечивает через колеса и шины автомобиля его связь с дорогой. Неисправность того или иного узла подвески влечет изменение параметров работы всех деталей связанных с ним.
    </p>
    <p>
        Понять, в каком состоянии находится подвеска, поможет <b>диагностика подвески</b>, стоит эта процедура <b>недорого</b>, а если учитывать вопросы безопасности, как своей, так и окружающих, то можно сказать ничтожно, и занимает немного времени.
    </p>

    <p><b>ООО «Автоцентр на Барыкина» осуществляет наиболее полную диагностику подвески автомобилей, которая включает в себя:</b></p>
    <img src="~/images/podveska.jpg" hspace="20" vspace="7" width="150" height="150" alt="Computer Diagnostics" align="left">
    <style>
        li {
            list-style-image: url('~/images/check.jpg'); 
   }

    </style>
    <ul class="DiagList">
        <br>
        <li>Диагностика тормозных колодок, дисков, барабанов, тормозных шлангов.</li>
        <li>Диагностика амортизаторов, пружин, опорных чашек.</li>
        <li>Проверка люфтов в рулевых тягах и наконечниках, шаровых опорах, ШРУСах.</li>
        <li>Проверка подшипников ступиц.</li>
        <li>Проверка рычагов, сайлентблоков и других узлов ходовой части автомобиля.</li>
        <li>Проверка состояния трансмиссии.</li>
    </ul>
    <br>
    <h3 align="center" style ="color: blue;">
        <img align="right" src="~/images/CheckEngine.jpg" width="110" height="60" alt="Computer Diagnostics"><br />
         @ViewData["CompDiag"]

    </h3>
    <p>
        
        <b>Компьютерная диагностика автомобиля</b> – это эффективный способ тщательной проверки всех электронных систем вашего транспортного средства, который
        <img src="~/images/CompDiag.jpg" hspace="10" vspace="7" width="170" height="170" alt="Computer Diagnostics" align="left"> предоставляет возможность, во-первых, предупредить назревающие неисправности и, во-вторых, с точностью обнаружить уже имеющиеся проблемы.
    </p>
    <p>
        Компьютерная диагностика автомобиля позволяет провести проверку большинства ключевых систем управления, в числе которых: управление двигателем, ABS, автоматическая трансмиссия, подушки безопасности, круиз-контроль, климат-контроль, щиток приборов, система парковки, пневматическая подвеска, система навигации и т.д.
    </p>
    <p>
        При возникновении <b>сигнала об ошибке</b> система диагностики сохраняет <b>код ошибки</b> в долговременной памяти для дальнейшей расшифровки специалистом СТО.
    </p>

</opisanie>
