@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>
    <h3 align="center" style="color: blue;">@ViewData["Diag1"]</h3>
    <p>
        Регулировку просто развала-схождения рекомендуется <b>проходить регулярно</b> во избежание различных неприятностей на дороге, поэтому данная услуга является достаточно распространенной среди наших клиентов.
    </p>
    <p>
        Перед тем, как приступить к развалу-схождению <b>рекомендуется</b> произвести <b>диагностику ходовой</b>. Если на подвеске есть какие-либо повреждения, регулировать сход-развал бессмысленно, так как будут ошибки. В процессе регулировки мы обязательно учитываем технические характеристики вашего автомобиля и текущее состояние ходовой.
    </p>
    <p><b>Когда рекомендуется пройти регулировку развала-схождения:</b></p>
    <img src="~/images/razval1.jpg" hspace="20" vspace="7" width="250" height="150" alt="Razval1" align="left">
    <p><b>1. </b>После ремонта ходовой части машины.</p>
    <p><b>2. </b>В процессе прохождения планового и, в особенности, первого ТО.</p>
    <p><b>3. </b>После <b>каждых 15 000 - 20 000 км</b> пробега.</p>
    <p><b>4. </b>После неожиданного наезда на препятствие (бордюр, яму, особенно когда была пробита ходовая или деформированы диски).</p>
    <p><b>5. </b>Если заметили явное смещение колес.</p>

    <p><b>По каким признакам можно понять, что необходимо проведение развала-схождения:</b></p>
    <img src="~/images/razval2.jpg" hspace="20" vspace="7" width="220" height="150" alt="Razval2" align="right">
    <p><b>1. </b>Машина плохо держит дорогу, самовольно «уходит» в разные стороны.</p>
    <p><b>2. </b>Руль становится тяжело управляемым и запаздывает в реакции.</p>
    <p><b>3. </b>Быстрее изнашиваются автомобильные шины, также на шинах отмечается неравномерный износ.</p>
    <p><b>4. </b>Вы явно ощущаете, что колеса поворачиваются в разные стороны с разным радиусом (при этом можно ощутить, что колеса цепляются за арки, когда руль вывернут до упора).</p>
    <p><b>5. </b>Покрышки издают неестественный шум в процессе езды и др.</p>

    <p>
        В <b>ООО «Автоцентр на Барыкина»</b> есть <b>компьютерный стенд «развал-схождение»</b> фирмы  <img src="~/images/Beissbarth.jpg" hspace="20" vspace="7" width="150" height="50" alt="Beissbarth"> , который позволяет отрегулировать углы положения колес с высокой точностью. В <b>информационной базе</b> стенда имеются технические требования правильной установки углов колес для, <b>более чем, 10 000 моделей машин</b>. 
    </p>
</opisanie>
