@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>

    <p>
        ---
    </p>

</opisanie>
