@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
   .bluetext {
     color: blue; 
   }
</style>


<h2 align="center" style ="color: blue;">@ViewData["Title"]</h2><br />

<p align ="left">
    Каждый автовладелец обязательно должен уделять внимание состоянию <span class="bluetext">подвески</span>, <span class="bluetext">двигателя</span>, <span class="bluetext">коробки</span> и <span class="bluetext">других систем</span> своего автомобиля.
</p>
<p>
    <span class="bluetext">Подвеска</span> автомобиля является тем особо важным звеном, что обеспечивает активную безопасность экипажа во время движения.
</p>
<p>
    <img src="~/images/remont1.jpg" hspace="20" vspace="7" width="250" height="150" alt="Подвеска" align="right">
    Ремонт подвески включает в себя: замену амортизаторов, шаровых опор, рычагов, ШРУСов, рулевых наконечников и тяг, ступичных подшипников; диагностику и ремонт тормозной системы с заменой основных деталей.
</p>
<p>
    После быстрой и точной диагностики в <b>ООО «Автоцентр на Барыкина»</b> не нужно ломать голову, где найти какую-то запасную часть. Тут же на станции большой выбор необходимых запасных частей (оригинальных и альтернативных), хорошо оборудованные ремонтные посты и опытные специалисты позволят произвести качественный ремонт по приемлемым ценам.
</p>

<p>
    Случается, что <span class="bluetext">двигатель внутреннего сгорания</span> (ДВС) автомобиля выходит из строя и требует серьёзного вмешательства. В таких случаях капитальный ремонт двигателя – неизбежная вещь, к которой стоит прибегнуть в самые короткие сроки. Если затянуть с этим делом – есть возможность серьёзного повреждения двигателя и его полный выход из строя.
</p>

<p><b>Капитальный ремонт двигателя позволит:</b></p>
<img src="~/images/remont2.jpg" hspace="20" vspace="7" width="250" height="150" alt="Двигатель" align="left">

<style>
    li {
        list-style-image: url('~/images/check.jpg');
    }
</style>
<ul class="KapRemList">
    <br>
    <li>Повысить его эксплуатационный период.</li>
    <li>Предотвратить преждевременный выход из строя.</li>
    <li>Существенно увеличит ресурс двигателя.</li>
    <li>Улучшит качество его работы в целом.</li>
</ul>

<p>
    Мы производим капитальные, комплексные ремонты двигателей легковых  автомобилей любой сложности и их замену. Полный капитальный ремонт означает, что выполняются все необходимые технологические операции. Грамотная комплектация качественными деталями — необходимое условие обеспечения ресурса и надежности мотора.
</p>

<p>
    <span class="bluetext">Коробка переключения передач</span> – это важнейший агрегат автомобиля, который сам по себе очень надежен и долговечен. При правильной эксплуатации выход его из строя весьма маловероятен. Однако даже столь надежный узел может давать сбои – в особенности на фоне поломок прочих систем автомашины: ходовой части, двигателя и т.д.
</p>
<img src="~/images/remont3.jpg" hspace="20" vspace="7" width="250" height="150" alt="Коробка передач" align="left">
<p>
    Часто, в случае большого износа, коробку переключения передач разумнее заменить на новую, чем вкладывать деньги в ремонт существующей.
</p>

<p>
    <span class="bluetext">Замена ремней двигателя</span>
</p>

<p>
    Наши услуги автосервиса включают в себя крайне важную услугу – замена ГРМ. Несвоевременная замена ремней ГРМ может привести к тому, что сломается двигатель автомобиля.
</p>
<img src="~/images/remont4.jpg" hspace="20" vspace="7" width="250" height="150" alt="Коробка передач" align="right">
<p>
    В идеале, <span class="bluetext">замена ГРМ</span> должна осуществляется во время каждого большого техосмотра. Рекомендуется второй и последующие разы менять ремень ГРМ через каждых 60 000 км. Как правило, при замене ГРМ также меняются ролики, водяная помпа и сальники.
</p>

<p>
    Очень важно, чтобы замена ГРМ выполнялась квалифицированным персоналом автосервиса, так как неправильная замена ремней ГРМ может вызвать сбои в работе двигателя.
</p>
<p>
    В <b>ООО «Автоцентр на Барыкина»</b> заменой ГРМ занимаются опытные мастера, отвечающие за услуги автосервиса. Перед началом работ в специальной компьютерной программе или сертифицированной литературе проверяются все параметры установки ГРМ в зависимости от модели автомобиля и типа двигателя. Ремень ГРМ выставляется точно по меткам для того, чтобы исключить проблемы с двигателем в дальнейшем.
</p>

