@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>
    
    <p>
        <b>Плановое техническое обслуживание Вашего автомобиля</b> необходимо производить для обеспечения надёжной и безопасной его эксплуатации. Своевременное техническое обслуживание способствует выявлению имеющихся неисправностей и продлевает срок службы автомобиля.
    </p>
    <p>
        Техническая исправность автомобиля подразумевает под собой максимально возможный уровень безопасности, экономичности и надежности. Техническое обслуживание, в отличие от ремонта, носит профилактический характер.
    </p>

    <p><b>Сезонное обслуживание</b> представляет собой подготовку транспортного средства к эксплуатации в тот или иной сезон. Для нашего климата эта процедура является обязательной, и проводится не реже двух раз в году. Необходимо осуществить: <b>замену масла в двигателе</b> на летние/зимние сорта (в соответствии с сезоном), контроль работы системы отопления/кондиционирования салона.</p>

    <p><b>Периодичность тех или иных работ может определяться:</b></p>
    <ul>
        <li>временным интервалом</li>
        <li>пробегом автомобиля</li>
    </ul>
    <p align="center">
        <img src="~/images/TechService.jpg" hspace="20" vspace="7" width="600" height="250" alt="Computer Diagnostics" align="center">
    </p>

    <p>Техническое обслуживание автомобилей проводится каждые <b>10 000 километров</b> пробега и подразумевает проведение технического обслуживания в следующем объеме:</p>
    <ol>
        <li>Диагностика ходовой части, тормозной системы.</li>
        <li>Визуальный осмотр различных систем автомобиля на предмет проверки их целостности и работоспособности.</li>
        <li>Проверка уровня технических жидкостей, долив при необходимости.</li>
        <li>Проверка состояния шин и давления воздуха в них, подкачка воздуха до нормы, балансировка.</li>
        <li>Очистка аккумуляторной батареи (АКБ) от грязи, проверка уровня заряженности АКБ.</li>
        <li>Контроль состояния свечей зажигания, при необходимости замена.</li>
        <li>Замена фильтрующего элемента в воздушном фильтре.</li>
        <li>Замена моторного масла и масляного фильтра.</li>
        <li>Проверка развала-схождения, при необходимости регулировка.</li>
    </ol>
    <br />
    <p>
        Качественное и полное соблюдение регламента технического обслуживания — гарант надежности автомобиля, и безопасности водителя и пассажиров!
    </p>

</opisanie>
