@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>
    <h3 align="center" style="color: blue;">@ViewData["Diag1"]</h3>
 
 
    <img src="~/images/5w-30_titan.jpg" hspace="20" vspace="7" width="300" height="250" alt="5w-30_titan" align="left">
    <img src="~/images/10w-40_titan.jpg" hspace="20" vspace="7" width="300" height="250" alt="10w-40_titan" align="right">
 

   
    <table border="0" width="100%" cellpadding="5">
        <tr>
            <td align="center" style="color: white;"><b>-</b></td>
        </tr>
        <tr>
            <td align="center" style="color: white;"><b>-</b></td>
        </tr>
        <tr>
            <td align="center" style ="color: blue;"><b>Масло на разлив в бочках. Есть всегда в наличии. Есть тара для налива.  Производство – Германия</b></td>
        </tr>
    </table>

</opisanie>



