@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 align="center">@ViewData["Title"]</h2><br />

<opisanie>

    <p align="center">
        <h3 align="center" style="color: blue; float:left"; >
            <img src="~/images/5w-30_titan.jpg" hspace="20" vspace="7" width="300" height="250" alt="5w-30_titan" align="left">
            <img src="~/images/10w-40_titan.jpg" hspace="20" vspace="7" width="300" height="250" alt="10w-40_titan" align="right">
            <br />
            <div class="description" align="bottom">
                <br />
                <br />
                Масло на разлив в бочках. Есть всегда в наличии. Есть тара для налива.  Производство – Германия
            </div>
        </h3>

</p>

    <br />


</opisanie>


@*    <p>Масло на разлив в бочках. Есть всегда в наличии. Есть тара для налива.  Производство – Германия</p> *@

