@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<opisanie>

    <img src="~/images/condi_p.png" hspace="20" vspace="7" width="150" height="150" alt="Computer Diagnostics" align="left">
    <p><b>Система кондиционирования в салоне</b></p>

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <td align="center" rowspan="2"><b>№ п/п</b></td>
            <td align="center" rowspan="2"><b>Наименование услуги</b></td>
            <td align="center" colspan="2"><b>Цена, BYN</b></td>
        </tr>
        <tr>
            <td align="center"><b>за наличный расчет</b></td>
            <td align="center"><b>за безналичный расчет</b></td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="left"><p><b>Заправка систем кондиционирования воздуха в салоне хладагентом R134A с добавлением специального УФ-красителя</b></p></td>
            <td align="center">40,00</td>
            <td align="center">45,00</td>
        </tr>
    </table>

</opisanie>