@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<opisanie_diag>
    <p><a name="diag"></a></p>
    <p><b>Диагностика автомобиля</b></p>
    <img src="~/images/diagnostics.png" hspace="20" vspace="7" width="150" height="150" alt="Computer Diagnostics" align="left">

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <td align="center" rowspan="2"><b>№ п/п</b></td>
            <td align="center" rowspan="2"><b>Наименование услуги</b></td>
            <td align="center" colspan="2"><b>Цена, BYN</b></td>
        </tr>
        <tr>
            <td align="center"><b>за наличный расчет</b></td>
            <td align="center"><b>за безналичный расчет</b></td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="left">Диагностика подвески (ходовой части)</td>
            <td align="center">12,50</td>
            <td align="center">12,50</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="left">Компьютерная диагностика</td>
            <td align="center">15,00</td>
            <td align="center">15,00</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="left">Диагностика системы кондиционирования</td>
            <td align="center">20,00</td>
            <td align="center">22,50</td>
        </tr>
    </table>

</opisanie_diag>

<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>

<opisanie_techserv>
    <p><a name="techserv"></a></p>

    <img src="~/images/tech_service.png" hspace="20" vspace="7" width="150" height="150" alt="Computer Diagnostics" align="left">
    <br>
    <p><b>Техническое обслуживание</b></p>
    </br>
    <table border="1" width="100%" cellpadding="5" align="center">
        <tr>
            <td align="center" rowspan="2"><b>№ п/п</b></td>
            <td align="center" rowspan="2"><b>Наименование услуги</b></td>
            <td align="center" colspan="2"><b>Цена, BYN</b></td>
        </tr>
        <tr>
            <td align="center"><b>за наличный расчет</b></td>
            <td align="center"><b>за безналичный расчет</b></td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td>Замена масла ДВС+масляный фильтр</td>
            <td align="center">12,50</td>
            <td align="center">13,75</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="left">Замена воздушного и салонного фильтра</td>
            <td align="center">от 7,50</td>
            <td align="center">от 8,25</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="left">Замена масла МКПП</td>
            <td align="center">от 10,00</td>
            <td align="center">от 11,00</td>
        </tr>
        <tr>
            <td align="center">4</td>
            <td align="left">Замена передних дисковых тормозных колодок</td>
            <td align="center">12,50</td>
            <td align="center">13,75</td>
        </tr>
        <tr>
            <td align="center">5</td>
            <td align="left">Замена задних дисковых тормозных колодок</td>
            <td align="center">от 12,50</td>
            <td align="center">от 13,75</td>
        </tr>
        <tr>
            <td align="center">6</td>
            <td align="left">Замена комплекта ГРМ+водяной насос</td>
            <td align="center">от 100,00</td>
            <td align="center">от 110,00</td>
        </tr>
    </table>

</opisanie_techserv>

<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>

<opisanie_repair>
    <p><a name="repair"></a></p>
    <p><b>Ремонт, примерные цены</b></p>
    <img src="~/images/Repair.png" hspace="20" vspace="7" width="150" height="150" alt="Computer Diagnostics" align="left">

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <td align="center" rowspan="2"><b>№ п/п</b></td>
            <td align="center" rowspan="2"><b>Наименование услуги</b></td>
            <td align="center" colspan="2"><b>Цена, BYN</b></td>
        </tr>
        <tr>
            <td align="center"><b>за наличный расчет</b></td>
            <td align="center"><b>за безналичный расчет</b></td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="left">Замена наконечника рулевой тяги</td>
            <td align="center">от 12,50</td>
            <td align="center">от 13,75</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="left">Замена шаровой опоры</td>
            <td align="center">от 12,50</td>
            <td align="center">от 13,75</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="left">Замена передних амортизаторов</td>
            <td align="center">от 50,00</td>
            <td align="center">от 55,50</td>
        </tr>
        <tr>
            <td align="center">4</td>
            <td align="left">Замена пыльника ШРУСа</td>
            <td align="center">от 25,00</td>
            <td align="center">от 27,50</td>
        </tr>
        <tr>
            <td align="center">5</td>
            <td align="left">Замена ручейкового ремня</td>
            <td align="center">от 12,50</td>
            <td align="center">от 13,75</td>
        </tr>
        <tr>
            <td align="center">6</td>
            <td align="left">Замена ступичного подшипника</td>
            <td align="center">от 25,00</td>
            <td align="center">от 27,50</td>
        </tr>
    </table>

</opisanie_repair>

<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>

<opisanie_electro>
    <p><a name="electro"></a></p>
    <p><b>Услуги автоэлектрика</b></p>
    <img src="~/images/Electricity_p.png" hspace="20" vspace="7" width="150" height="150" alt="Computer Diagnostics" align="left">

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <td align="center" rowspan="2"><b>№ п/п</b></td>
            <td align="center" rowspan="2"><b>Наименование услуги</b></td>
            <td align="center" colspan="2"><b>Цена, BYN</b></td>
        </tr>
        <tr>
            <td align="center"><b>за наличный расчет</b></td>
            <td align="center"><b>за безналичный расчет</b></td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="left">Замена свечей зажигания</td>
            <td align="center">от 14,00</td>
            <td align="center">от 14,00</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="left">Замена катушки зажигания</td>
            <td align="center">от 8,40</td>
            <td align="center">от 8,40</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="left">Замена лампы передней фары</td>
            <td align="center">от 3,36</td>
            <td align="center">от 3,36</td>
        </tr>
        <tr>
            <td align="center">4</td>
            <td align="left">Установка парктроников</td>
            <td align="center">от 28,00</td>
            <td align="center">от 28,00</td>
        </tr>
        <tr>
            <td align="center">5</td>
            <td align="left">Проверка реле, плат, системы</td>
            <td align="center">от 10,00</td>
            <td align="center">от 10,00</td>
        </tr>
    </table>

</opisanie_electro>

<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>

<opisanie_razval>
    <p><a name="razval"></a></p>
    <p><b>Компьютерный развал-схождение</b></p>
    <img src="~/images/razval_p.png" hspace="20" vspace="7" width="150" height="150" alt="Computer Diagnostics" align="left">

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <td align="center" rowspan="2"><b>№ п/п</b></td>
            <td align="center" rowspan="2"><b>Наименование услуги</b></td>
            <td align="center" colspan="2"><b>Цена, BYN</b></td>
        </tr>
        <tr>
            <td align="center"><b>за наличный расчет</b></td>
            <td align="center"><b>за безналичный расчет</b></td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="left">Развал-схождение одной оси (либо передней, либо задней)</td>
            <td align="center">25,00</td>
            <td align="center">25,00</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="left">Развал-схождение двух осей (и передней, и задней)</td>
            <td align="center">29,00</td>
            <td align="center">29,00</td>
        </tr>
    </table>

</opisanie_razval>

<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>

<opisanie_condi>
    <p><a name="condi"></a></p>
    <img src="~/images/condi_p.png" hspace="20" vspace="7" width="150" height="150" alt="Computer Diagnostics" align="left">
    <p><b>Система кондиционирования в салоне</b></p>

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <td align="center" rowspan="2"><b>№ п/п</b></td>
            <td align="center" rowspan="2"><b>Наименование услуги</b></td>
            <td align="center" colspan="2"><b>Цена, BYN</b></td>
        </tr>
        <tr>
            <td align="center"><b>за наличный расчет</b></td>
            <td align="center"><b>за безналичный расчет</b></td>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="left"><p>Заправка систем кондиционирования воздуха в салоне хладагентом R134A с добавлением специального УФ-красителя</p></td>
            <td align="center">40,00</td>
            <td align="center">45,00</td>
        </tr>
    </table>

</opisanie_condi>